USE [master]
GO
/****** Object:  Database [HealMeDb]    Script Date: 6/9/2025 5:54:52 PM ******/
CREATE DATABASE [HealMeDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HealMeDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.THANH\MSSQL\DATA\HealMeDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'HealMeDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.THANH\MSSQL\DATA\HealMeDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HealMeDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HealMeDb]
GO
/****** Object:  Table [dbo].[ProductFeedbacks]    Script Date: 6/9/2025 5:54:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductFeedbacks](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](100) NOT NULL,
	[Rating] [int] NOT NULL,
	[FeedbackText] [nvarchar](1000) NOT NULL,
	[ImageUrl] [nvarchar](500) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_ProductFeedbacks] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tasks]    Script Date: 6/9/2025 5:54:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tasks](
	[TaskId] [bigint] IDENTITY(1,1) NOT NULL,
	[UserId] [bigint] NOT NULL,
	[Title] [nvarchar](255) NOT NULL,
	[Note] [nvarchar](max) NULL,
	[ImageUrl] [varchar](512) NULL,
	[Completed] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[CompletedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[TaskId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 6/9/2025 5:54:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [bigint] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](50) NOT NULL,
	[PasswordHash] [varchar](256) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[Role] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProductFeedbacks_CreatedAt]    Script Date: 6/9/2025 5:54:52 PM ******/
CREATE NONCLUSTERED INDEX [IX_ProductFeedbacks_CreatedAt] ON [dbo].[ProductFeedbacks]
(
	[CreatedAt] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProductFeedbacks_IsActive]    Script Date: 6/9/2025 5:54:53 PM ******/
CREATE NONCLUSTERED INDEX [IX_ProductFeedbacks_IsActive] ON [dbo].[ProductFeedbacks]
(
	[IsActive] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProductFeedbacks_Rating]    Script Date: 6/9/2025 5:54:53 PM ******/
CREATE NONCLUSTERED INDEX [IX_ProductFeedbacks_Rating] ON [dbo].[ProductFeedbacks]
(
	[Rating] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ProductFeedbacks] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ProductFeedbacks] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Tasks] ADD  DEFAULT ((0)) FOR [Completed]
GO
ALTER TABLE [dbo].[Tasks] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Tasks]  WITH CHECK ADD  CONSTRAINT [FK_Tasks_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Tasks] CHECK CONSTRAINT [FK_Tasks_Users]
GO
ALTER TABLE [dbo].[ProductFeedbacks]  WITH CHECK ADD  CONSTRAINT [CK_ProductFeedbacks_Rating] CHECK  (([Rating]>=(1) AND [Rating]<=(5)))
GO
ALTER TABLE [dbo].[ProductFeedbacks] CHECK CONSTRAINT [CK_ProductFeedbacks_Rating]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetFeedbacks]    Script Date: 6/9/2025 5:54:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetFeedbacks]
    @PageNumber INT = 1,
    @PageSize INT = 10,
    @Rating INT = NULL
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @Offset INT = (@PageNumber - 1) * @PageSize;
    
    SELECT 
        [Id],
        [UserName],
        [Rating],
        [FeedbackText],
        [ImageUrl],
        [CreatedAt]
    FROM [dbo].[ProductFeedbacks]
    WHERE [IsActive] = 1
        AND (@Rating IS NULL OR [Rating] = @Rating)
    ORDER BY [CreatedAt] DESC
    OFFSET @Offset ROWS
    FETCH NEXT @PageSize ROWS ONLY;
    
    -- Trả về tổng số records
    SELECT COUNT(*) as TotalRecords
    FROM [dbo].[ProductFeedbacks]
    WHERE [IsActive] = 1
        AND (@Rating IS NULL OR [Rating] = @Rating);
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetFeedbackStats]    Script Date: 6/9/2025 5:54:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetFeedbackStats]
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
        COUNT(*) as TotalFeedbacks,
        CAST(ROUND(AVG(CAST([Rating] as FLOAT)), 1) as FLOAT) as AverageRating,
        CAST(ROUND(
            (COUNT(CASE WHEN [Rating] >= 4 THEN 1 END) * 100.0 / COUNT(*)), 0
        ) as INT) as RecommendPercent
    FROM [dbo].[ProductFeedbacks]
    WHERE [IsActive] = 1
END
GO
USE [master]
GO
